bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1747091499565/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1754063631397/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219728782/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1755254908/work
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1753401542/work/dist/numpy-2.3.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=95a9acf1600ae4ad3e6f61b04d8b6acc3c6c5d3397bc16907746fedd7e5de585
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1752081795134/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1751482098407/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454693669/work
setuptools==80.9.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1754732062994/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
wheel==0.45.1
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1745598038694/work
